@model Benday.ConfigOptionsDemo.Api.RootConfiguration

<h1>@Model.SiteName</h1>

<h2>Child Value 1: @Model.Child.ChildValue1</h2>

<h3>Another Child - Value 1: @Model.AnotherChild.Value1</h3>
<h3>Another Child - Value 2: @Model.AnotherChild.Value2</h3>